.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #131c26;
  border-radius: 12px;
  padding: 2rem;
  width: 50vw;
  height: 90vh;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-out;
}

.album-modal {
  display: grid;
  grid-template-columns: auto 20vw;
  height: 100%;
}

.modal-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.modal-rating {
  position: relative;
}

.album-art-wrapper img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.album-art-wrapper {
  position: relative;
  display: inline-block;
}

.album-art-wrapper:hover .listened {
  opacity: 1;
}

/* Listened button in top-right corner */
.album-art-wrapper .listened {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  line-height: 1;
}

.listened:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.listened.active {
  background-color: rgba(0, 255, 55, 0.863);
}

.album-name {
  font-size: 1.5rem;
}

.album-artists {
  color: #696969;
  font-size: 1.2rem;
}

.album-year {
  color: #555;
  font-size: 1rem;
}

.album-notes {
  width: 70%;
  display: flex;
  justify-content: center;
}

.album-notes textarea {
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  display: flex;
}
/* Tracklist */
.track-list {
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  grid-column: 2;
  overflow-y: auto;
}

.track-row {
  display: grid;
  grid-template-columns: 2ch 1fr auto;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  gap: 10px;
}

.track-number {
  text-align: right;
  opacity: 0.7;
}

.track-duration {
  text-align: right;
  min-width: 45px;
  opacity: 0.7;
}

.play-button {
  flex: 0 0 auto;
  width: 3.5vh;
  height: 3vh;
  background-color: #db527983;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2vh;
  padding-top: 1vh;
  padding-bottom: 1.4vh;
  border-radius: 2px;
  background-color: #db527983;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin-bottom: 10px;
}

.play-button:hover {
  background-color: #db5279c0;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
