.player-album-art {
  width: 100%;
  border-radius: 8px;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.player-track {
  margin: 0;
  font-size: 1rem;
}

.player-artist {
  margin: 0;
  font-size: .95rem;
  color: #ccc;
}

.player-time {
  color: #ccc;
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-slider{
  margin-top: -2px;
}

.progress-slider .rc-slider-rail {
  background-color: #5A6168;
}

.progress-slider .rc-slider-track {
  background-color: #db5279;
}

.player-controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5vh;
}

.player-controls button {
  flex: 0 0 auto;
  width: 3.5vh;
  height: 3vh;
  background-color: #db527983;
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2vh;
  padding-top: 1vh;
  padding-bottom: 1.4vh;
  border-radius: 2px;
}


.player-controls button:hover {
  background-color: #db5279c0;
}

.player-volume {
  min-width: 6vw;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.volume-slider {
  width: 100%;
  cursor: pointer;
}

.volume-slider .rc-slider-rail {
  background-color: #5A6168;
}
.volume-slider .rc-slider-track {
  background-color: #db5279;
}

.volume-display {
  color: #ccc;
  font-size: 1.2vh;
}

.player-username {
  font-size: 1.5vh;
  color: #fff;
}

.player-spacer {
  flex: 1;
}

.player-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-playlists {
  max-height: 40vh; /* never exceed half sidebar */
  overflow-y: auto; /* scroll if too many playlists */
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.player-sidebar {
  width: 20vw;
  min-width: 200px;
  height: 93vh;
  background-color: #111;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.player-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* stays pinned at bottom naturally */
}

.player-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
