.player-sidebar {
  --sidebar-width: 20vw;
  width: var(--sidebar-width);
  min-width: 200px;
  height: 100vh;
  background-color: #111;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding-top: calc(1rem + var(--navbar-height));
}

.player-album-art {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.player-track {
  margin: 0;
  font-size: 1rem;
}

.player-artist {
  margin: 0;
  font-size: 0.95rem;
  color: #ccc;
  text-align: left;
}

.player-time {
  color: #ccc;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-slider {
  margin-top: -2px;
}

.progress-slider .rc-slider-rail {
  background-color: #5a6168;
}

.progress-slider .rc-slider-track {
  background-color: #db5279;
}

.player-controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.player-controls button {
  flex: 0 0 15%;
  background-color: #db527983;
  cursor: pointer;
  border-radius: 2px;
  min-width: 40px;
  min-height: 25px;
}

.player-controls button:hover {
  background-color: #db5279c0;
}

.prev {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.09015 14.6474C6.30328 13.4935 6.30328 10.5065 8.09015 9.35258L18.8792 2.38548C20.6158 1.26402 22.75 2.72368 22.75 5.0329V18.9671C22.75 21.2763 20.6158 22.736 18.8792 21.6145L8.09015 14.6474Z' fill='%23FFFFFF'/%3E%3Cpath d='M2 5C2 4.58579 2.33579 4.25 2.75 4.25C3.16421 4.25 3.5 4.58579 3.5 5V19C3.5 19.4142 3.16421 19.75 2.75 19.75C2.33579 19.75 2 19.4142 2 19V5Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.next {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6598 14.6474C18.4467 13.4935 18.4467 10.5065 16.6598 9.35258L5.87083 2.38548C4.13419 1.26402 2 2.72368 2 5.0329V18.9671C2 21.2763 4.13419 22.736 5.87083 21.6145L16.6598 14.6474Z' fill='%23FFFFFF'/%3E%3Cpath d='M22.75 5C22.75 4.58579 22.4142 4.25 22 4.25C21.5858 4.25 21.25 4.58579 21.25 5V19C21.25 19.4142 21.5858 19.75 22 19.75C22.4142 19.75 22.75 19.4142 22.75 19V5Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.play {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.pause {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6C2 4.11438 2 3.17157 2.58579 2.58579C3.17157 2 4.11438 2 6 2C7.88562 2 8.82843 2 9.41421 2.58579C10 3.17157 10 4.11438 10 6V18C10 19.8856 10 20.8284 9.41421 21.4142C8.82843 22 7.88562 22 6 22C4.11438 22 3.17157 22 2.58579 21.4142C2 20.8284 2 19.8856 2 18V6Z' fill='%23FFFFFF'/%3E%3Cpath d='M14 6C14 4.11438 14 3.17157 14.5858 2.58579C15.1716 2 16.1144 2 18 2C19.8856 2 20.8284 2 21.4142 2.58579C22 3.17157 22 4.11438 22 6V18C22 19.8856 22 20.8284 21.4142 21.4142C20.8284 22 19.8856 22 18 22C16.1144 22 15.1716 22 14.5858 21.4142C14 20.8284 14 19.8856 14 18V6Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.shuffle-on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='square' stroke-linejoin='miter'%3E%3Cpath d='M21 16.0399H17.7707C15.8164 16.0399 13.9845 14.9697 12.8611 13.1716L10.7973 9.86831C9.67384 8.07022 7.84196 7 5.88762 7L3 7'/%3E%3Cpath d='M21 7H17.7707C15.8164 7 13.9845 8.18388 12.8611 10.1729L10.7973 13.8271C9.67384 15.8161 7.84196 17 5.88762 17L3 17'/%3E%3Cpath d='M19 4L22 7L19 10'/%3E%3Cpath d='M19 13L22 16L19 19'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.shuffle-off {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='square' stroke-linejoin='miter'%3E%3Cpath d='M21 16.0399H17.7707C15.8164 16.0399 13.9845 14.9697 12.8611 13.1716L10.7973 9.86831C9.67384 8.07022 7.84196 7 5.88762 7L3 7'/%3E%3Cpath d='M21 7H17.7707C15.8164 7 13.9845 8.18388 12.8611 10.1729L10.7973 13.8271C9.67384 15.8161 7.84196 17 5.88762 17L3 17'/%3E%3Cpath d='M19 4L22 7L19 10'/%3E%3Cpath d='M19 13L22 16L19 19'/%3E%3Cline x1='2' y1='2' x2='22' y2='22' stroke='%23fff' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.player-volume {
  min-width: 80px;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  flex: 1 1 auto;
}

.volume-slider {
  width: 100%;
  cursor: pointer;
}

.volume-slider .rc-slider-rail {
  background-color: #5a6168;
}
.volume-slider .rc-slider-track {
  background-color: #db5279;
}

.volume-display {
  color: #ccc;
  font-size: 1.2vh;
  flex: 0 0 auto;
}

.context-hud {
  display: flex;
  margin-top: 5px;
  position: relative;
}

.now-playing {
  display: flex;
  gap: 10px;
  flex: 2;
}

.crop-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
}
.now-playing-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.now-playing-name {
  min-width: 0;
  word-break: break-word;
  font-size: 0.95rem;
  color: #ccc;
}

.up-next {
  flex: 1;
  margin-left: auto;
  margin-top: auto;
  text-align: right;
}

.up-next-text {
  font-size: 0.7rem;
  color: #b3b3b3;
}

.player-username {
  font-size: 1.5vh;
  color: #fff;
}

.player-spacer {
  flex: 1;
}

.player-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-playlists {
  max-height: 40vh;
  overflow-y: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}


.player-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.player-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
